.card-wrapper {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin:20px;
    height: 92%;
}

.card-wrapper .card-img-wrapper .card-img {
    width: 100%;
    height: 90%;
}

.pictures-detail {
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    
}

.pictures-detail .name {
    text-align: center;
    
}

.pictures-detail  .relation {
    padding: 40px 40px;
    font-size: 14px;
}

.pictures-detail  .relation .butterfly-icon-wrapper{
    margin-right: 5px;
}
.pictures-detail  .relation .butterfly-icon-wrapper .butterfly-icon {
    max-width: 100%;
    height: 15px;
}