.footer{
    text-align: center;
}
.Death{
    text-align: center;
    padding: 40px;
    display: inline-block;
    vertical-align: middle;
}
.btn{
    display: inline-block;
    width: 80px;
    height:100%;
    padding: 10px;
    background-color: transparent;
    vertical-align: middle;
    text-align: center;
    border-radius: 5%;
    box-shadow: darkgrey;
    border-color:#f9f9f99a;    
}
.line{
    width: 100%;
    padding: 50px;
    vertical-align: middle;
    color:#000000;
    text-align: center;
}
.text-color{
    color: black;
}
.season-details{
    text-align: center;
    font-size:16px;
    display: inline-block;
    word-spacing: 1em;
    padding:10px;
    }