* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration : none;
  color: black;
}


h1 {
  font-size: 56px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 20px;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px ;
}

.actors-card-section {
  background: #3b3b3b;
  padding: 40px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .actors-card-section {
    padding: 10px;
  }
}